<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.myskout.skout">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skout"
        tools:targetApi="31">
        <activity
            android:name=".OutroMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ParceirosActivity"
            android:exported="false" />
        <activity
            android:name=".RecrutadoresActivity"
            android:exported="false" />
        <activity
            android:name=".TalentosActivity"
            android:exported="false" />
        <activity
            android:name=".CandidatosActivity"
            android:exported="false" />
        <activity
            android:name=".vagasActivity"
            android:exported="false" />
        <activity
            android:name=".perfilActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:theme="@style/TemaSembarra" />
        <activity
            android:name=".JanelaComponentes"
            android:exported="false" />
        <activity
            android:name=".JanelacoordnatorLayout"
            android:exported="false" />
        <activity
            android:name=".InnerActivity"
            android:exported="false" />
        <activity
            android:name=".JanelaFrameActivity"
            android:exported="false" />
        <activity
            android:name=".JanelaTableLayout"
            android:exported="false" />
        <activity
            android:name=".janelaRelativeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>